
.title {
    color: white;
    margin-bottom: 5px;
    position: relative;
}

.title h2 {
    font-family: 'Poppins', sans-serif;
    color: #eeeeee;
    font-weight: 600;
    font-style: normal;

    font-size: 21px;
    z-index: 1;
}

.title::before {
    content: '';
    position: absolute;
    width: 100%;
    background-color: rgba(255,255,255,.09);
    height: 2px;
    bottom: 10px;
    display: block;
}

.title::after {
    display: block;
    position: absolute;
    content: '';
    width: 33%;
    background-color: #007ced;
    height: 2px;
    bottom: 10px;
}
