.work {
    width: 450px;
    background-color: rgba(255, 255, 255, .05);
    border: 1px solid rgba(255, 255, 255, .07);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon {
    height: 300px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.icon::before{
    position: absolute;
    content: '';
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
}

.btnView {
    padding: 10px 20px;
    border: 1px solid gray;
    position: relative;
    z-index: 1;
    background-color: #29363f;
    color: white;
}

.btnView:hover {
    background-color: #007ced;
}

.workInfo {
    padding: 20px;
}

.workTitle {
    font-family: 'Poppins', sans-serif;
    margin: 2px 0;
    font-size: 18px;
    color: #eeeeee;
    font-weight: 600;
    font-style: normal;
}

.description {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1em;
    color: #a6a7a8;
    margin: 0 0 15px;
}

