.worksBlock {
    background-color: #29363f;
}

.worksContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.works {
    border: 1px solid white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

@media screen and (max-width: 754px) {
    .works {
        justify-content: center;
    }
}