$bgColorPage: #29363f;
$textTitleColor: #eeeeee;
$textNotTitleColor: #a6a7a8;
$bgColorItem: rgba(255, 255, 255, .05);
$hoverButtonColor: #007ced;
$lineStartColor: #007ced;
$lineFinishColor: rgba(255,255,255,.09);
$footerColor: #535353;
$textStyle: 'Poppins', sans-serif;